<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logofoodpt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logofoodpt"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exe201"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ApplyPromotionActivity"
            android:exported="false" />
        <activity
            android:name=".PromotionActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordVerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordSendOtpActivity"
            android:exported="false" />
        <activity
            android:name=".SetupMapForPartnerActivity"
            android:exported="false" />
        <activity
            android:name=".CreateOrderSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".FaqDetailActivity"
            android:exported="false" />
        <activity
            android:name=".FAQListActivity"
            android:exported="false" />
        <activity
            android:name=".RatingChartActivity"
            android:exported="false" />
        <activity
            android:name=".AddFoodItemActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".SupplierCartActivity"
            android:exported="false" />
        <activity
            android:name=".BottomNavPartnerHomeActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ReportForPartnerActivity"
            android:exported="false" />
        <activity
            android:name=".FoodItemGroupedBySupplierActivity"
            android:exported="false" />
        <activity
            android:name=".FoodOrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".BottomNavHomePageActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAPS_API_KEY" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".CustomerReviewActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ShowFoodItemActivity"
            android:exported="false" />
        <activity
            android:name=".SupplierForCustomer"
            android:exported="false" />
        <activity
            android:name=".FoodForCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".TimePickerActivity"
            android:exported="false" />
        <activity
            android:name=".FoodItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".FoodItemActivity"
            android:exported="false" />
        <activity
            android:name=".PartnerHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".UpdatePartnerStep2Activity"
            android:exported="false" />
        <activity
            android:name=".UpdatePartnerStep1Activity"
            android:exported="false" />
        <activity
            android:name=".PartnerInformation"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseRole"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>